body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1054px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.container-2 {
    background-color: #f9f9f9;
    padding: 20px 0;
    margin: 20px 0;
    box-sizing: border-box;
}

.container-2 h2 {
    margin-top: 0;
}

.container-2 .movies-grid {
    margin-top: 10px;
}

header {
    background-color: #61787F;
    color: #FFFFFF;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    width: 100%;
    max-width: 837px;
    box-sizing: border-box;
    font-size: small;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.best-movie-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border: 5px solid #000;
    width: 100%;
    max-width: 794px;
    margin: 20px 0;
}

.best-movie-details {
    display: flex;
    flex-direction: column;
}

.best-movie-details h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.best-movie-details p {
    margin-bottom: 20px;
}

.best-movie-details button {
    align-self: flex-start;
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: #FA0B0B;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.best-movie-details button:hover {
    background-color: #bf0811;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Hide movies after the first two for mobile */
.movies-grid .movie-item {
    display: none;
}

.movies-grid .movie-item:nth-child(-n+2) {
    display: block;
}

.movie-item {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-modal {
    position: absolute;
    width: 73px;
    height: 21px;
    bottom: 5px;
    right: 5px;
    background-color: #2D2C2C;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 2px 4px;
    cursor: pointer;
    font-size: 14px;
}

.movie-modal {
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
    background-color: #00000080;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    height: 48px;
}

.movie-modal button:hover {
    background-color: #696969;
}

select {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
    width: 200px;
    cursor: pointer;
}

/* Modal window */
.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 5px;
}

.open-modal {
    display: flex;
}

.modal-content {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid transparent;
    width: 80%;
    max-width: 800px;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 0 0 5px #000000;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.modal-content .modal-header {
    justify-content: left;
}
.modal-content .modal-img { 
    order: 1;
}

.modal-footer{
    order: 2;
}

.close-text {
    display: none;
}

.close-icon {
    display: block;
}

.show-more-btn, .show-less-btn {
    background-color: #FA0B0B;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

.show-more-btn:hover, .show-less-btn:hover {
    background-color: #bf0811;
}

/* Mobile display */
@media (max-width: 479px) {
    .container-2 {
        width: 329px;
    }

    .best-movie-container{
        width: 289px;
    }

    .close-modal-trigger {
        width: 32px;
        height: 32px;
        padding: 10px;
        color: #FA0B0B;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 24px;
        font-weight: bold;
        line-height: 40px;
        position: absolute;
        top: 5px;
        right: 10px;
    }
}


/* Tablet display */
@media (min-width: 480px) and (max-width: 810px) {
    .container {
        width: 788px;
        padding: 0;
    }

    .container-2 {
        width: 619px;
        margin: 0 auto 20px;
        padding: 20px 0;
    }

    .best-movie-container {
        flex-direction: row;
    }
    
    .movies-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .movies-grid .movie-item {
        display: none;
    }
    
    .movies-grid .movie-item:nth-child(-n+4) {
        display: block;
    }

    .close-modal-trigger {
        width: 32px;
        height: 32px;
        padding: 10px;
        color: #FA0B0B;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 24px;
        font-weight: bold;
        line-height: 40px;
        position: absolute;
        top: 5px;
        right: 10px;
    }

    .modal-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
        height: max-content;
        max-height: 90%;
        overflow-y: auto;
    }

    .modal-header {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .modal-img {
        grid-column: 2 / 3;
        grid-row: 1;
    }

    .modal-body {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .modal-footer {
        grid-column: 1 / 3;
        grid-row: 3;
    }

}

/* Desktop display */
@media (min-width: 811px) {
    .container {
        width: 1054px;
        padding: 0;
    }

    header {
        width: 844px;
    }

    .container-2 {
        width: 844px;
        margin: 0 auto 20px;
        padding: 20px 0;
    }

    .best-movie-container {
        flex-direction: row;
        width: 844px;
    }

    
    .movies-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .movies-grid .movie-item {
        display: block;
    }

    .show-more-btn, .show-less-btn {
        display: none !important;
    }

    .modal-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
        height: max-content;
        max-height: 90%;
        overflow-y: auto;
    }

    .modal-header {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .modal-img {
        grid-column: 2 / 3;
        grid-row: 1;
    }

    .modal-body {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .modal-footer {
        grid-column: 1 / 3;
        grid-row: 3;
    }

    .close-modal-trigger {
        grid-column: 1 / 3;
        grid-row: 4;
        width: 100px;
        height: 40px;
        padding: 10px;
        background-color: #FA0B0B;
        color: #fff;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        bottom: 10px;
        margin: auto;
    }

    .close-modal-trigger:hover {
        background-color: #bf0811;
    }

    .close-text {
        display: block;
    }

    .close-icon {
        display: none;
    }
}